{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login page
{% endblock title %}
{% block extra_href_2 %}
    <link href="/static/login.css" rel="stylesheet" crossorigin="anonymous">
{% endblock extra_href_2 %}

{% block content %}

    <h1_name_page>Login</h1_name_page>

    <form id="login_page" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Log in"/>
    </form>
    <a id="a_f" href="{% url 'authentication:register-users' %}"> Registration nev user </a>
{% endblock %}