version: "3"
services:
  db:
    image: postgres:11.5
    environment:
      - POSTGRES_PASSWORD=123
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_DB=movies
      - POSTGRES_USER=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
  web:
    build: .
    env_file:
      - .env
    volumes:
      - .:/src
      - ./static:/static
      - ./media:/media
    command:
      /bin/bash -c "pip install -r requirements.txt; invoke run"
    links:
      - db
    expose:
      - 8000
  nginx:
    image: nginx
    links:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/static:ro
      - ./media:/media:ro
    ports:
      - 8000:80

volumes:
  pgdata: