#a_f {
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: all .6s ease;
    margin-top: 10px;
    font-size: 15px;
}


#a_f:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.001);

}

input {
    margin-top: -10px;
    font-size: 15px;
    text-align: center;
    color: black;
    transition: all .6s ease;;
}
input:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.09);
}

#login_page{
    color: #fff;
    text-align: center;

}

h1_name_page{
    color: #fff;
    text-align: center;
    transition: all .6s ease;
    margin-top: -10px;
    font-size: 30px;
}