{% extends 'base.html' %}

{% block content %}
    <h1>List of movies</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://i.ytimg.com/vi/z9qOOfVipdw/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Kin-dza-dza</h3>
                <p>George Danelia, 2h 3m</p>
                <p class="card-text">
                    <span class="badge bg-info text-dark">adventure</span>
                    <span class="badge bg-info text-dark">science fiction</span>
                    <span class="badge bg-info text-dark">genre</span>
                    <span class="badge bg-info text-dark">genre</span>
                </p>
            </div>
        </div>

    </div>
{% endblock %}