{% extends 'base.html' %}
{% block title %}
    {{ movie.name }}
{% endblock title %}

{% block content %}
    {% with movie=object %}
    <h1>{{ movie.name }}</h1>

    <table>
        <tbody>
        {% for personmovie in movie.persons.all %}
            <tr>
                <td>{{ personmovie.person }}</td>
                <td>{{ personmovie.category }}</td>
                <td>{{ personmovie.job }}</td>
                <td>{{ personmovie.characters|join:', '|default:'N/A' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
    {{ formset_factory.as_p }}
{% endblock content %}