{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load bootstrap %}
{% block title %}
    Movies list
{% endblock title %}


{% block content %}
    <h1>List of movies</h1>
    <form method="get">
        <label>
            <input name="q" value="{{ request.get.q }}"/>
            <input type="submit" class="btn-primary"/>
        </label>
    </form>
    <p>
        {% for movie in object_list %}
            <div class="col-md-3">
                <a href="{% url 'movies:movie_details' pk=movie.id %}" style="text-decoration: none;">
                <img src="https://memegenerator.net/img/instances/66386966.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="text-align: center">{{ movie.name }}</h3>
                    <p style="text-align: center">{{ movie.director }}, {{ movie.year }}</p>
                    <p class="card-text">
                        {% for genre in movie.genres %}
                            <span class="badge bg-info text-dark">{{ genre }}</span>
                        {% endfor %}
                    </p>
                </div>
                </a>
            </div>
        {% endfor %}
    {% bootstrap_paginate page_obj range=5 %}
{% endblock %}