{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Add new Movies{% endblock title %}



{% block extra_href %}
    {{ form.media.css }}
{% endblock  %}

{% block content %}
    <div class="row-cols-auto" style="width: auto; height: 30%">
        <form method="post">
            {% csrf_token %}

            <h4>{{ form.name|bootstrap}}
                Release date
                <p>
                {{ form.year }}
                <p>
                {{ form.persons_participating|bootstrap }}
            </h4>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}