{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Add new person{% endblock title %}
{% block extra_href_2 %}
    {{ form.media.css }}
    <link href="/static/add_person_page.css" rel="stylesheet" crossorigin="anonymous">
{% endblock extra_href_2 %}


{% block content %}
    <div class="row-cols-auto">
        <form method="post">
            {% csrf_token %}
            <h4 id="name_person">Name new Person {{ form.name }}</h4>
            <h4 id="name_person">Birth Year person {{ form.birth_year }}</h4>
            <div class="form-group" id="div_button_sub">
                <button type="submit" id="button_sub" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block extra_js %}{{ form.media.js }}{% endblock %}


