<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/main.css" rel="stylesheet" crossorigin="anonymous">

{% block extra_href %}
{% endblock extra_href %}

</head>
<body>
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Movies</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movies:list_movies' %}">Home</a>
                    </li>
                </ul>
            </div>


            {% if  not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'auth:login' %}" >
                    Log in
                </a>
            {% else %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, {{ request.user.username }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'auth:logout' %}">Log Out</a>
                    <a class="dropdown-item" href="#">Profile</a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
{% endblock header %}
<div id="container" class="container">
<div class="row">
{% block content %}
    Here goes content.
{% endblock content %}
</div>
<div class="row">>
{% block footer %}
    This is footer
{% endblock footer  %}
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/static/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block extra_js %}
{% endblock extra_js %}
</html>