{%  extends 'base.html' %}

{% block title %}
    Users list!
{% endblock title %}

{% block content %}
    Total: {{ users|length }} users
    <ul>
    {% for user in users %}
        <li>{{ user }} ({% if user.is_superuser %} is admin {% else %} regular {% endif %}): {{ user.email }}</li>
    {% endfor %}
    </ul>

    Movies: {{ movies  }}
    <ul>
    {% for movie in movies %}
        <li>{{ movie }}<li>
    {% empty %}
        No movies added yet!!
    {% endfor %}
    </ul>

{% endblock content %}